# Variables de entorno — NUNCA subir a GitHub
.env

# Volúmenes de Docker
rimai_pgdata/

# IDE
.vscode/settings.json
.idea/build/
__pycache__/
*.pyc

# Virtual Environment
backend/venv/
backend/.venv/
venv/
.venv/
